* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Roboto, serif;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

h1 {
    font-size: 24px;
}

h4 {
    font-size: 19px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    height: 100%;
}

.footer {
    margin-top: auto;
    text-align: center;
    border-top: 1px solid black;
    padding: 10px 0;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-t-8-per {
    margin-top: 8%;
}

.w-105 {
    width: 105px;
}

.w-300 {
    width: 300px;
}

.d-flex {
    display: flex;
}

.row .col {
    display: flex;
}

.row .col .col-key {
    width: 130px;
}

.form-label .form-description {
    display: block;
    font-size: 14px;
}

.form-label .form-control {
    border: 1px solid #dddddd;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
}

.form-label .form-control:focus {
    border: 1px solid #85b7d9;
    outline: 0;
}

.form-submit {
    height: 37px;
    width: 100px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1678c2;
    color: #ffffff;
    font-size: 15px;
}

#current-timestamp {
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    background-color: #a9a9a9;
    padding: 7px 10px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
